name: cashfolio-test
services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"

  redis:
    image: cashfolio-redis
    build:
      context: .
      dockerfile: infra/cashfolio-redis/Dockerfile
    ports:
      - "6380:6379"
    environment:
      - REDIS_ADMIN_PASS=admin
      - REDIS_APP_PASS=app
