@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-*: initial;

  --color-black: #000;
  --color-white: #fff;

  /* Tailwind CSS 'sky' */
  --color-brand-50: oklch(97.7% 0.013 236.62);
  --color-brand-100: oklch(95.1% 0.026 236.824);
  --color-brand-200: oklch(90.1% 0.058 230.902);
  --color-brand-300: oklch(82.8% 0.111 230.318);
  --color-brand-400: oklch(74.6% 0.16 232.661);
  --color-brand-500: oklch(68.5% 0.169 237.323);
  --color-brand-600: oklch(58.8% 0.158 241.966);
  --color-brand-700: oklch(50% 0.134 242.749);
  --color-brand-800: oklch(44.3% 0.11 240.79);
  --color-brand-900: oklch(39.1% 0.09 240.876);
  --color-brand-950: oklch(29.3% 0.066 243.157);

  /* Tailwind CSS 'zinc' */
  --color-neutral-50: oklch(98.5% 0 0);
  --color-neutral-100: oklch(96.7% 0.001 286.375);
  --color-neutral-200: oklch(92% 0.004 286.32);
  --color-neutral-300: oklch(87.1% 0.006 286.286);
  --color-neutral-400: oklch(70.5% 0.015 286.067);
  --color-neutral-500: oklch(55.2% 0.016 285.938);
  --color-neutral-600: oklch(44.2% 0.017 285.786);
  --color-neutral-700: oklch(37% 0.013 285.805);
  --color-neutral-800: oklch(27.4% 0.006 286.033);
  --color-neutral-900: oklch(21% 0.006 285.885);
  --color-neutral-950: oklch(14.1% 0.005 285.823);

  /* Use brand color */
  --color-accent-neutral-50: var(--color-brand-50);
  --color-accent-neutral-100: var(--color-brand-100);
  --color-accent-neutral-200: var(--color-brand-200);
  --color-accent-neutral-300: var(--color-brand-300);
  --color-accent-neutral-400: var(--color-brand-400);
  --color-accent-neutral-500: var(--color-brand-500);
  --color-accent-neutral-600: var(--color-brand-600);
  --color-accent-neutral-700: var(--color-brand-700);
  --color-accent-neutral-800: var(--color-brand-800);
  --color-accent-neutral-900: var(--color-brand-900);
  --color-accent-neutral-950: var(--color-brand-950);

  /* Tailwind CSS 'red' */
  --color-accent-negative-50: oklch(97.1% 0.013 17.38);
  --color-accent-negative-100: oklch(93.6% 0.032 17.717);
  --color-accent-negative-200: oklch(88.5% 0.062 18.334);
  --color-accent-negative-300: oklch(80.8% 0.114 19.571);
  --color-accent-negative-400: oklch(70.4% 0.191 22.216);
  --color-accent-negative-500: oklch(63.7% 0.237 25.331);
  --color-accent-negative-600: oklch(57.7% 0.245 27.325);
  --color-accent-negative-700: oklch(50.5% 0.213 27.518);
  --color-accent-negative-800: oklch(44.4% 0.177 26.899);
  --color-accent-negative-900: oklch(39.6% 0.141 25.723);
  --color-accent-negative-950: oklch(25.8% 0.092 26.042);

  /* Tailwind CSS 'green' */
  --color-accent-positive-50: oklch(98.2% 0.018 155.826);
  --color-accent-positive-100: oklch(96.2% 0.044 156.743);
  --color-accent-positive-200: oklch(92.5% 0.084 155.995);
  --color-accent-positive-300: oklch(87.1% 0.15 154.449);
  --color-accent-positive-400: oklch(79.2% 0.209 151.711);
  --color-accent-positive-500: oklch(72.3% 0.219 149.579);
  --color-accent-positive-600: oklch(62.7% 0.194 149.214);
  --color-accent-positive-700: oklch(52.7% 0.154 150.069);
  --color-accent-positive-800: oklch(44.8% 0.119 151.328);
  --color-accent-positive-900: oklch(39.3% 0.095 152.535);
  --color-accent-positive-950: oklch(26.6% 0.065 152.934);
}

[data-theme="dark"] {
  .ag-charts-tooltip {
    background-color: var(--color-neutral-700);
    color: var(--color-brand-50);
  }
}
