name: Deploy
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: "Select the environment to deploy to"
        required: true
        default: "staging"
        options:
          - preview
          - staging
          - prod
      deploy-cashfolio-app:
        type: boolean
        description: "Deploy cashfolio-app"
        default: true
      deploy-cashfolio-redis:
        type: boolean
        description: "Deploy cashfolio-redis"
        default: true

env:
  NODE_VERSION: 24
  FLYCTL_VERSION: 0.3.193

jobs:
  version:
    name: "Generate version"
    uses: felixmokross/webplatform/.github/workflows/export.version.yml@main

  deploy:
    name: Deploy
    if: github.event_name != 'pull_request'
    needs:
      - version
    uses: ./.github/workflows/deploy-version.yml
    with:
      version_with_sha: ${{ needs.version.outputs.version_with_sha }}
      sha: ${{ needs.version.outputs.sha }}
      environment: ${{ inputs.environment }}
      deploy-cashfolio-app: ${{ inputs.deploy-cashfolio-app }}
      deploy-cashfolio-redis: ${{ inputs.deploy-cashfolio-redis }}
    secrets: inherit
